/* 1) imports TOUJOURS en premier */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Open+Sans:wght@400;600&family=JetBrains+Mono:wght@400;600&display=swap');
@import 'tailwindcss';

/* 2) plugins tailwind v4 (après tailwindcss) */
@plugin "@tailwindcss/forms";

/* 3) tes tokens de thème */
@theme {
  --font-poppins:
    'Poppins', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-open-sans:
    'Open Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-jetbrains-mono:
    'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }

  body {
    margin: 0;
    overflow-x: hidden; /* ✅ garde X clean */
    overflow-y: auto; /* ✅ scrollbar normale */
  }

  body.no-scroll {
    overflow: hidden; /* ✅ uniquement quand on veut lock */
  }
}
