services:
  postgres:
    image: postgres:17
    container_name: pg
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: Pipounet29
      POSTGRES_DB: snkProjet_docker
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8081:8080"

volumes:
  pg_data:
